<div class="credentials_card">
    <div class="tui-text_h6"> Ваши реквизиты карты</div>
    <div class="credentials_card_data">
        <form tuiGroup [formGroup]="form">
            <tui-input-card class="card-item" formControlName="card" (click)="copyData(this.data.encryptedPan)">
                Номер карты
            </tui-input-card>
            <tui-input formControlName="name" class="card-item" [readOnly]="true"
                (click)="copyData(this.data.embossingName)">
                Имя владельца
            </tui-input>
            <div class="credentials_container">
                <tui-input-expire class="card-item" formControlName="expire" tuiTextfieldSize="l"
                    (click)="copyData(this.data.cardExpiry)">
                    Срок действия
                </tui-input-expire>

                <tui-input-cvc class="card-item" formControlName="cvc" tuiTextfieldSize="l"
                    (click)="copyData(this.data.cvv)">
                    CVC/CVV
                </tui-input-cvc>
            </div>
        </form>
    </div>
</div>