<div class="subscriptions_container">
<tui-accordion class="container" [rounded]="false">
    <tui-accordion-item borders="top-bottom" [showArrow]="false">
        <div class="subscription-header">
            <div class="subscription-pic"> 
            </div>
            <div class="subscription-title">Yandex Plus</div>
            <div class="subscription-title tui-text_body-m">Активна до 13.12.2021</div>
            <div class="subscription-title tui-text_body-m">Период: 1 месяц</div>
        <div class="subscription-info">
            <tui-money class="subscription-amount subscription-title" [value]="23000"></tui-money>
            <div class="subscription-status">Автопродление</div>
           </div>
        </div>
        <ng-template tuiAccordionItemContent>
            <h3 class="form-title">Подписка</h3>
            
            <button tuiButton type="button"  appearance="flat" size="m">
                Отключить 
            </button>
        </ng-template>
    </tui-accordion-item>
</tui-accordion>
</div>