<div class="profile-wrapper">
  <div class="profile-card">
    <h1 class="user-greeting" *ngIf="userName">
      Здравсвуйте, {{userName}}
    </h1>
    <div class="buttons">
      <a tuiButton
         type="button"
         appearance="primary"
         [href]="'https://t.me/vtbapihack_bot'"
         target="_blank"
      >
        Открыть Telegram бота
      </a>
      <tui-input
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [(ngModel)]="hashValue"
      >
        Введите хэш полученый в Telegram боте
      </tui-input>
      <button
        tuiButton
        type="button"
        appearance="primary"
        [disabled]="!isNotificationsCheckboxDisabled"
        (click)="linkTelegram()"
      >
        Связать
      </button>
    </div>
    <div class="logout">
      <button size="l" tuiButton appearance="secondary" (click)="logout()">Выйти</button>
    </div>
  </div>
</div>
