.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .profile-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 800px;
    height: 350px;
    padding: 80px 50px 20px;
    border: 3px rgba(82, 110, 211, 0.5) solid;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .notifications {
      margin-top: 30px;
    }
    .logout {
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      > button {
        width: 260px;
      }
    }
    .user-greeting {
      padding-bottom: 30px;
      margin-bottom: 60px;
      border-bottom: 2px rgba(119, 136, 153, 0.7) solid;
    }
  }
}
